.details__style{
    background:#D0E0CE ;
    font-family: 'Roboto Condensed', sans-serif;
    color: #07130D;
    font-weight: 700;
     

}
@media screen and (max-width: 400px) {
    .details__style{
        background:#D0E0CE;
        font-family: 'Roboto Condensed', sans-serif;
        color: #07130D;
         width: 500px;
    
    }

}