@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed&display=swap');



.page__1{
    height: 2000px;
    width:1520px;
    background-color: #D0E0CE;
    

}
.page__1h{
    position: absolute;
width: 2032px;
height: 820px;
left: 126px;
top: 120px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 80px;


color: #07130D;
}
.page__1h2{
    font-family:'Roboto Condensed', sans-serif;
    position: absolute;
    top:260px;
    left:290px;
    font-size: 100px;
    color: aliceblue;
}
.nav_1{position: absolute;
    width: 360px;
    height: 122px;
    left: 1116px;
    top: 25px;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 74px;
    color:#07130D;
    
}
.nav_2{
    position: absolute;
    width: 360px;
    height: 122px;
    left: 1326px;
    top: 25px;
    color:#07130D;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 74px;
}

.image1{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 95px;
}
.image2{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 295px;
}
.image3{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 495px;
transform: rotate(-30deg);
}
.image4{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 695px;
transform: rotate(-60deg);
}
.image5{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 895px;
transform: rotate(-60deg);
}
.image6{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 1095px;
transform: rotate(-70deg);
}
.image7{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 1295px;
transform: rotate(-40deg);
}
.image8{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 1495px;
transform: rotate(-40deg);
}

.image9{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 1695px;
transform: rotate(-40deg);
}
.image10{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 1895px;
transform: rotate(-70deg);
}
.para_1{
position: absolute;
width: 1373px;
height: 685px;
left: 1017px;
top: 606px;

font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 26px;
line-height: 40px;

color: #000000;
}
.page__2h{
    position: absolute;
    width: 2032px;
    height: 820px;
    left: 66px;
    top: 1040px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
}
.para_2{
    position: absolute;
    width: 1373px;
    height: 685px;
    left: 97px;
    top: 1196px;
    
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;

}
.para_3{
    position: absolute;
    width: 1373px;
    height: 685px;
    left: 1017px;
    top: 1596px;
    
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;

}

.footer{
    background-color: #9dbf99 !important;
    height: 220px;
    
}
.f__1{
    position: absolute;
    top: 2900px;
    left: 100px;
    font-family: 'Arial';
font-style: normal;
color:#07130D;
}
.f__2{
    position: absolute;
    top: 2950px;
    left: 100px;
    font-family: 'Arial';
font-style: normal;
color:#07130D;
}
.f__3{
    position: absolute;
    top: 2900px;
    left: 1000px;
    font-family: 'Arial';
font-style: normal;
color:#07130D;
}


/******************************Mobile part*****************************************/
@media only screen and (max-width: 360px) {
    .page__1{
        position: absolute;
        width: 360px;
        height: 980px;
        
        background: #D0E0CE;
    
    }
   
   
   
    .nav_1{
        position: absolute;
width: 66px;
height: 16px;
left: 189px;
top: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;
    }

    .nav_2{
        position: absolute;
width: 67px;
height: 12px;
left: 283px;
top: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;
    }

    .page__1h{

        position: absolute;
width: 287px;
height: 29px;
left: 36px;
top: 89px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #000000;

    }

.image1{
position: absolute !important;
width: 40px!important;
height: 38.1px !important;
left: 97px !important;
top: 28px !important;
}
.image2{
position: absolute !important;
width: 40px !important;
height: 38.1px !important;
left: 209.69px !important;
top: 125.99px !important;
transform: rotate(-20deg) !important;
 }
.image3{
position: absolute !important;
width: 40px !important;
height: 38.1px !important;
left: 90.16px !important;
top: 172.55px !important;
transform: rotate(-30deg) !important;
}
.image4{
position: absolute !important;
width: 40px !important;
height: 38.1px !important;
left: 207.44px !important;
top: 337.31px !important;
transform: rotate(-40deg) !important;
}
.image5{
position: absolute !important;
width: 40px !important;
height: 38.1px !important;
left: 89.55px !important;
top: 377.12px !important;
transform: rotate(-50deg) !important;
}
.image6{
position: absolute;
width: 40px;
height: 38.1px;
left: 228.66px;
top: 428.87px;
transform: rotate(17.51deg);
}
.image7{   
position: absolute;
width: 40px;
height: 38.1px;
left: 95.9px;
top: 482.02px;
transform: rotate(-24.53deg);
}
.image8{
position: absolute;
width: 40px;
height: 38.1px;
left: 220px;
top: 635.67px;
transform: rotate(-8.15deg);
}
.image9{
position: absolute;
width: 40px;
height: 38.1px;
left: 117.38px;
top: 680px;
transform: rotate(25.47deg);
}
.image10{
position: absolute;
width: 40px;
height: 38.1px;
left: 225px;
top: 742.6px;
transform: rotate(-15.37deg);
}

.para_1{
    position: absolute;
width: 247px;
height: 133px;
left: 65px;
top: 203px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;
}
.page__2h{
    position: absolute;
width: 183px;
height: 29px;
left: 84px;
top: 398px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #000000;
}

.para_2{
    position: absolute;
width: 264px;
height: 153px;
left: 51px;
top: 515px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;
}

.para_3{
    position: absolute;
width: 141px;
height: 101px;
left: 102px;
top: 791px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;

}

/***************************************Product ***************************************/
.productlist__ba{
    position: absolute;
    top:980px;
}


/***************************************Footer*****************************************/
.footer{
    position: absolute;
    top:400px;
    background-color: #9dbf99 !important;

}
.f__1{
    position:absolute;
    top:2900px;
    font-size: 15px;
    font-family: 'Arial';
    font-style: normal;
    left: 20px;
}
.f__2{
    position:absolute;
    top:2920px;
    font-size: 15px;
    font-family: 'Arial';
    font-style: normal;
    left: 20px;
}
.f__3{
    position:absolute;
    top:2900px;
    font-size: 15px;
    font-family: 'Arial';
    font-style: normal;
    left: 240px;
}
  }











































/***************************************************************************************************/
.productlist__main{
padding-bottom: 5px;

max-width: 1540 !important;
}
.productlist__ba{
    background-color: #D0E0CE;
}

 





























