@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed&display=swap');



.page__1{
    height: 2000px;
    width:1520px;
    background-color: #D0E0CE;
    

}
.page__1h{
    position: absolute;
width: 2032px;
height: 820px;
left: 126px;
top: 120px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 80px;


color: #07130D;
}
.page__1h2{
    font-family:'Roboto Condensed', sans-serif;
    position: absolute;
    top:260px;
    left:290px;
    font-size: 100px;
    color: aliceblue;
}
.nav_1{position: absolute;
    width: 360px;
    height: 122px;
    left: 1116px;
    top: 25px;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 74px;
    color:#07130D;
    
}
.nav_2{
    position: absolute;
    width: 360px;
    height: 122px;
    left: 1326px;
    top: 25px;
    color:#07130D;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 74px;
}

.image1{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 95px;
}
.image2{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 295px;
}
.image3{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 495px;
transform: rotate(-30deg);
}
.image4{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 695px;
transform: rotate(-60deg);
}
.image5{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 895px;
transform: rotate(-60deg);
}
.image6{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 1095px;
transform: rotate(-70deg);
}
.image7{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 1295px;
transform: rotate(-40deg);
}
.image8{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 1495px;
transform: rotate(-40deg);
}

.image9{
    position: absolute;
width: 82px;
height: 82px;
left: 595px;
top: 1695px;
transform: rotate(-40deg);
}
.image10{
    position: absolute;
width: 82px;
height: 82px;
left: 895px;
top: 1895px;
transform: rotate(-70deg);
}
.para_1{
position: absolute;
width: 1373px;
height: 685px;
left: 1017px;
top: 606px;

font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 26px;
line-height: 40px;

color: #000000;
}
.page__2h{
    position: absolute;
    width: 2032px;
    height: 820px;
    left: 66px;
    top: 1040px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
}
.para_2{
    position: absolute;
    width: 1373px;
    height: 685px;
    left: 97px;
    top: 1196px;
    
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;

}
.para_3{
    position: absolute;
    width: 1373px;
    height: 685px;
    left: 1017px;
    top: 1596px;
    
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;

}

.footer{
    background: #9dbf99;
    height: 220px;
    
}
.f__1{
    position: absolute;
    top: 2900px;
    left: 100px;
    font-family: 'Arial';
font-style: normal;
color:#07130D;
}
.f__2{
    position: absolute;
    top: 2950px;
    left: 100px;
    font-family: 'Arial';
font-style: normal;
color:#07130D;
}
.f__3{
    position: absolute;
    top: 2900px;
    left: 1000px;
    font-family: 'Arial';
font-style: normal;
color:#07130D;
}















































/***************************************************************************************************/
.productlist__main{
padding-bottom: 5px;

max-width: 1540 !important;
}
.productlist__ba{
    background: #D0E0CE;
}

@media screen and (max-width: 400px) {
.productlist__main{
   
    margin-left:20px;
    
}  
.productlist__ba{
    background:linear-gradient(266deg, #EDC7B7  30%,  #EEE2DC 30%) ;
    width: 500px;
} 

}



























